/* Common styles */
.buttons{
    background-color: #E76F51;
    color: white;
}
.title-color{
    color: #E76F51;
}

/* Header section */
.honda-info-bg{
    width: auto;
    height: 700px;
    background-color: #264653;
    padding-top: 70px;
}


/* Frtured Bikes section*/
.fetured-bikes {
    width: 288px;
}
.gray-bikes{
    filter: grayscale(100%);
}

/* Clients section */
.title-color{
    color: #E76F51;
}
.list{
    list-style-type: none;
}
.clints-name{
    color: #23A6F0;
}

/* Footer section */
.honda-text-color .list{
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
}
