/* Common styles */
.buttons{
    background-color: #E76F51;
    color: white;
}

/* Header section */
.honda-info-bg{
    width: auto;
    height: 700px;
    background-color: #264653;
    padding-top: 70px;
}


/* Frtured Bikes */
.feture-bike-collection{
    color: #E76F51;
}
.fetured-bikes {
    width: 288px;
}
.gray-bikes{
    filter: grayscale(100%);
}

/* Clients section */
.clints-title{
    color: #E76F51;
}
.list{
    list-style-type: none;
}
.clints-name{
    color: #23A6F0;
}